<div class="big-clock-time" onclick="handleBigClockClick(); event.stopPropagation();">
    <span class="big-clock-hours" id="bigHours">00</span>
    <span class="big-clock-minutes" id="bigMinutes">00</span>
</div>

<div class="big-clock-date-wrapper">
    <span class="big-clock-date" id="bigDate">---</span>
    <span style="color: #444;" id="dateSeparator">•</span>
    <span class="big-clock-nameday" id="bigNameday">---</span>
</div>

<div id="player-now-playing" style="color: #fff; text-align: center;"></div>
